#bg-costom{
    background-color: #8e66fd;
}
#bg-costom:hover{
    background-color: #7c4dff;
}
#rgba{
    background-color: rgba(0, 0, 0, 0.311);
}
#rgd-costom{
    color: #896700;
}
#close{
    z-index: 9999;
    transform: translateX(300px) translateY(440px);
    display: none;
    transition: 0.7s;
}
#imgId1{
    display: none;
    transition: 0.7s;
}
.d{
    margin-top: 500px;
    position: absolute;
}
#cr{
    color: #7c4dff;
    font-family: BCOMSETB;
}
#cr2{
    opacity: 1;
}
#d20{
    font-size: 50px;
}
#d12{
    margin-left: 330px; 
    z-index: 1;
    position: relative;
}



@layer utilities {
  @keyframes fadeWords {
    0%   { opacity: 0; transform: translateY(20px); }
    10%  { opacity: 1; transform: translateY(0); }
    20%  { opacity: 1; transform: translateY(0); }
    30%  { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 0; transform: translateY(-20px); }
  }
  .animate-fadeWords {
    animation: fadeWords 12s infinite;
  }
}


#text1{
    color: rgb(82, 81, 81);
}
#child1{
    background-color: #8e66fd;
}
#child1:hover{
    background-color: #7c4dff;
}
#kop:hover #idimg2{
    transition: 0.6s;
    transform: translateX(-15px) rotateZ(-5deg);
}
  #idimg1{
    transition: 0.6s;
  }
  #kop:hover #idimg1 {
    transform: translateX(15px) rotateZ(5deg);
  }
  #idimg2{
    transition: 0.6s;
  }
  #idimg3{
    transition: 0.6s;
  }
  #ani56{
    transform: translateX(-200px);
}
#ani57{
  transform: translateX(-500px);
}
#idimg3{
  transform: rotateZ(-5deg);
}
#kop5:hover #idimg3 {
  transform: translateX(15px) rotateZ(5deg);
}


@keyframes rallslid {
  0%{
    transform: translateX(-200px);
  }
  100%{
    transform: translateX(-450px);
  }
}

@keyframes rallslid2 {
  0%{
    transform: translateX(-500px);
  }
  100%{
    transform: translateX(50px);
  }
}


#kop2:hover #ani56{
  animation: rallslid 3s infinite linear;
}
#kop2:hover #ani57{
  animation: rallslid2 6s infinite linear;
}
@keyframes scrollslid {
  0%{
    transform: translateY(0px);
  }
  10%{
    transform: translateY(0px);
  }
  30%{
    transform: translateY(-50px);             
  }
  60%{
    transform: translateY(-50px);
  }
  80%{
    transform: translateY(-90px);
  }
  100%{
    transform: translateY(-90px);
  }
}

#kop4:hover #hedden {
  animation: scrollslid 3s infinite linear ;
}
#track{
  transition: 0.6s;
}
#dd1,#dd2,#dd3,#dd4,#dd5{
  border: solid black 1px;
  transition: 0.6s;
}
#dd1{
  background-color: black;
  width: 20px;
}
.overflow-scroll{
    height: 50px;
    width: 350px;
    overflow-x: scroll;
    display: flex;
}
.rounded-full{
  flex: 0 0 auto;
}
.svvg{
  flex:  0 0 auto;
}
.flex{
  flex:  0 0 auto;
}